* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: #f1f5f8;
    font-family: "Open sans", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.password-button {
    min-width: 100px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
  }
  
.password-button:hover {
    background: #1d49aa;
}
  
.password-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}